<link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

<footer class="footer">
   <div class="container">
      <span class="text-muted">Family App © 2022 | Aberin • Dayon • Tolentino</span>
   </div>
</footer>