<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<main class="form-signin text-center" method="post">
    <form>
        <img class="mb-4" src="../srcs/favicon.ico" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
        <p>Please enter the e-mail associated with the account to reset password:</p>

        <div class="form-floating">
            <input type="email" class="form-control form_info" name="recovery" id="eRecover"
                placeholder="name@example.com">
            <label for="eRecover">E-mail address</label>
        </div>

        <br>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Send e-mail</button>
    </form>
</main>