<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.1/examples/pricing/pricing.css" rel="stylesheet">


<script defer src="../js/search.js"></script>


<main>
    <br><br><br><br>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Search</h1>
        <p class="fs-5 text-muted">Quickly search for your connections!</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img class="mb-4"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Google_Contacts_icon.svg/2048px-Google_Contacts_icon.svg.png"
                        alt="" width="72" height="72">
                    <h4 class="my-0 fw-normal">Contacts</h4>
                </div>
                <div class="card-body">
                    <form>
                        <p>Search for your family and friends!</p>

                        <div class="form-floating">
                            <input type="search" class="form-control form_info" name="sUName" id="sUName"
                                placeholder="Username">
                            <label for="sUName">Username or Phone Number</label>
                        </div>

                        <br>

                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Search Contact(s)</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img class="mb-4" src="https://o365reports.com/wp-content/uploads/2016/08/office365-groups-icon.png"
                        alt="" width="72" height="72">
                    <h4 class="my-0 fw-normal">Groups</h4>
                </div>
                <div class="card-body">
                    <form>
                        <p>Search for a group and make more connections!</p>

                        <div class="form-floating">
                            <input type="search" class="form-control form_info" name="sGroup" id="sGroup"
                                placeholder="Group Name or Group ID">
                            <label for="sGroup">Group Name or Group ID</label>
                        </div>

                        <br>

                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Search Group(s)</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <img class="mb-4" src="https://sustainablecortland00.files.wordpress.com/2013/07/event-icon.png"
                        alt="" width="72" height="72">
                    <h4 class="my-0 fw-normal">Events</h4>
                </div>
                <div class="card-body">
                    <form>
                        <p>Search for public events or activities you may want to join!</p>

                        <div class="form-floating">
                            <input type="search" class="form-control form_info" name="sEvent" id="sEvent"
                                placeholder="Event">
                            <label for="sEvent">Event Name or Event Date or Event Place</label>
                        </div>

                        <br>

                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Search Event(s)</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>